.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper {
  border: 1px solid #007bff;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.btn {
  font-size: 14px;
  box-sizing: border-box;
  width: 140px;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: 1px solid #007bff;
}
.btn:hover {
  background-color: #007bffc1;
}
.error {
  color: red;
}
.input {
  border: 1px solid #007bff;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  outline: none;
}
