.contacts-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Динамічне кількість стовпців */
  grid-gap: 20px;
  padding: 0;
  justify-content: center; /* Центрує контент по горизонталі */
}
.title {
  text-align: center;
}
